outyet/outyet
postgres/data/*
gogs/data/*
gogs/logs/*
registry/data/*
jenkins/data/*
mongodb/data/db/*
terraform/terraform.tfstate*
terraform/.terraform
!postgres/data/.git_keep
!gogs/data/.git_keep
!gogs/logs/.git_keep
!registry/data/.git_keep
!jenkins/data/.git_keep
!mongodb/data/db/.git_keep
