sslcert.csr
.env
outyet/outyet
postgres/data/*
registry/data/*
jenkins/data/*
terraform/terraform.tfstate*
terraform/.terraform
terraform/.terraform.lock.hcl
!postgres/data/.git_keep
!registry/data/.git_keep
!jenkins/data/.git_keep

