version: "3"
services:
  outyet:
    #build:
    #  context: .
    # We are just going to use the upstream image for demos
    # however, it would be more accurate to build it from the local code.
    image: spkane/outyet:latest
    ports:
      - "10088:8080"
    networks:
      - my-net
networks:
  my-net:
    driver: bridge
